.main{
    text-align: center;
    color: #195768;
}
body{
    background-image: url(background.jpg);
    background-position: center;
  background-repeat: no-repeat;
background-size:cover;
margin-top: 8%;
}

.content{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
li{
    list-style-type: none;

}

ul li::before {
   
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: rgb(13, 38, 105); /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }
  ul{
    background-color: rgba(255, 255, 255, 0.678);
    border-radius: 0.5em;
    padding:10px 30px;
  }

  ul:hover{
      transform: scale(1.05,1.05);
  }
  ul{
      transition:all 0.1s ease-in-out;
  }